.post-password-required input[type="submit"]:hover,
.site-title:hover,
.entry-title a:hover,
.nav-previous a:hover,
.nav-previous a:hover:before,
.nav-next a:hover,
.nav-next a:hover:before,
.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:hover:before
.comments-title a:hover,
.comment-author .fn a:hover,
.comment-navigation .nav-previous a:hover,
.comment-navigation .nav-next a:hover,
.comment-navigation .nav-previous a:hover:after,
.comment-navigation .nav-next a:hover:after,
#cancel-comment-reply-link:hover,
#cancel-comment-reply-link:hover:before,
.form-submit  input[type="submit"]:hover,
.related-posts-title a:hover,
input.wpcf7-submit:hover,
.element-text:hover .thumbnail-link-title:before,
.element-text.thumb-inactive:hover .thumbnail-link-title:before,
.widget a:hover,
.widget_rss ul li a:before,
.widget_pages ul li a:before,
.widget .current-menu-item > a,
.widget .current_page_item > a,
.widget_categories .current-cat > a,
.widget_tag_cloud a:hover,
.site-footer .footer-social-icons a:hover,
.bottom-news a:hover { color: #f00 !important;}

.social,
.home-title,
.speak-title {
    text-align: center;
    list-style-type: none;
}

.twitter,
.linkedin {
    display: inline-block;
}

.banners {
    list-style-type: none;
}

.cognito-banner,
.art-banner,
.speaking-banner {
    margin-bottom: 7px;
    width: 100%;
}

.plus-sign {
    color: #f00;
}

.ht-header,
.st-header {
    font-family: Novecentowide, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
}

.ht-header {
    font-size: 2.5em;
}

.st-header {
    font-size: 4em;
}

.ht-content,
.st-content {
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.video-logo,
.video-text {
    left: 0px;
    top: 0px;
    height:auto;
    margin: 0px;
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
}

.video-logo {
    padding: 20px 10px 10px 10px;
    clear: both;
    width: 200px;
    text-align: center;
    overflow: hidden;
    float: right;
}

.video-logo img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    -webkit-filter: grayscale(30%);
    -moz-filter: grayscale(30%);
    -o-filter: grayscale(30%);
    -ms-filter: grayscale(30%);
    filter: grayscale(30%);
}

.video-text {
    padding: 10px;
    width:auto\9;
    max-width: 65%;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.vt-header,
.vt-content,
.vt-info, {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.vt-header {
    font-weight: bold;
    font-size: 1.5em;
    color: #000;
    padding-bottom: 10px;
}

.vt-info {
    display: inline-block;
    float: left;
    margin-right: 10%;
    text-transform: uppercase;
}

.vt-content {
   clear: both;
   padding-top: 20px;
}

.video-section {
    padding-bottom: 10px;
}

/*.pf_nav { visibility: hidden; display: none; }*/

.video-container {
    position: relative;
    padding-bottom: 35%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-devider {
    background: #D9DCDD;
    height: 2px;
    margin-top: 10px;
}

.speak-badges {
    list-style-type: none;
    margin-bottom: -30px;
}

.sb-header {
    font-family: Novecentowide, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.sb-halfpage {
    font-family: Roboto, sans-serif;
    display: inline-block;
    width: 49%;
    min-width: 250px;
    padding-bottom: 20px;
    padding-right: 20px;
    height: auto;
    vertical-align: top;
}

.badges {
    list-style-type: none;
}

.badges li {
    max-width: 49%;
    height: auto;
    width: auto\9;
    display: inline-block;
    padding-right: 35px;
}

.badges img {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-width: 250px;
}