.post-password-required input[type="submit"]:hover,
.site-title:hover,
.entry-title a:hover,
.nav-previous a:hover,
.nav-previous a:hover:before,
.nav-next a:hover,
.nav-next a:hover:before,
.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:hover:before,
.comments-title a:hover,
.comment-author .fn a:hover,
.comment-navigation .nav-previous a:hover,
.comment-navigation .nav-next a:hover,
.comment-navigation .nav-previous a:hover:after,
.comment-navigation .nav-next a:hover:after,
#cancel-comment-reply-link:hover,
#cancel-comment-reply-link:hover:before,
.form-submit  input[type="submit"]:hover,
.related-posts-title a:hover,
input.wpcf7-submit:hover,
.element-text:hover .thumbnail-link-title:before,
.element-text.thumb-inactive:hover .thumbnail-link-title:before,
.widget a:hover,
.widget_rss ul li a:before,
.widget_pages ul li a:before,
.widget .current-menu-item > a,
.widget .current_page_item > a,
.widget_categories .current-cat > a,
.widget_tag_cloud a:hover,
.widget_archive ul li a:before,
.widget_categories ul li a:before,
.widget_links ul li a:before,
.widget_meta ul li a:before,
.widget_nav_menu ul li a:before,
.widget_recent_comments ul li:before,
.widget_recent_entries ul li a:before,
.widget_rss ul li a:before,
.widget_pages ul li a:before,
.site-footer .footer-social-icons a:hover,
.bottom-news a:hover { color: #f00 !important;}

.blog-comments-wrapper:hover .blog-comments-icon-shape path
{ fill: #fff !important; stroke: #f00 !important; }

a { color: #000; }
a:hover { color: #f00; }
.nav-menu li a:hover,
.pf_nav li a:hover { color: #f00; text-decoration: none; }

.txt-center {
    text-align: center;
}

.inline-link,
.inline-link:hover {
    text-decoration: none;
}

.social,
.home-title,
.speak-title {
    text-align: center;
    list-style-type: none;
}

.social {
    padding: 0px;
}

.social img {
    width: 41px;
    height: 32px;
}

.twitter,
.linkedin,
.email {
    display: inline-block;
}

.email {
    padding-left: 10px;
}

.banners {
    padding-top: 10%;
    list-style-type: none;
}

.cognito-banner,
.art-banner,
.speaking-banner {
    margin-bottom: 7px;
    width: 100%;
}

.plus-sign {
    color: #f00;
}

.ht-header,
.st-header {
    font-family: Novecentowide, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
}

.ht-header {
    font-size: 2.5em;
}

.st-header {
    font-size: 4em;
}

.ht-content,
.st-content {
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.video-logo,
.video-text,
.video-content {
    left: 0px;
    top: 0px;
    height:auto;
    margin: 0px;
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
}

.video-logo {
    clear: both;
    width: 200px;
    text-align: center;
    overflow: hidden;
    float: right;
}

.video-logo img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    -webkit-filter: grayscale(30%);
    -moz-filter: grayscale(30%);
    -o-filter: grayscale(30%);
    -ms-filter: grayscale(30%);
    filter: grayscale(30%);
}

.video-text,
.video-content {
    padding: 10px;
    width:auto\9;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.video-content {
    max-width: 100%;
}

.video-text {
    max-width: 65%;
}

.vt-header,
.vt-content,
.vt-info, {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.vt-header {
    font-family: Novecentowide, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #000;
    padding-bottom: 10px;
}

.vt-info {
    display: inline-block;
    float: left;
    margin-right: 10%;
    text-transform: uppercase;
}

.vt-content {
   clear: both;
   padding-top: 20px;
   padding-bottom: 20px;
}

.video-section {
    padding-bottom: 10px;
}

.video-container {
    clear: both;
    position: relative;
    padding-bottom: 35%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-devider {
    background: #D9DCDD;
    height: 2px;
    margin-top: 10px;
}

.speak-badges {
    list-style-type: none;
    margin-bottom: -30px;
}

.p-v {
    font-size: 2em;
    text-transform: uppercase;
    padding: 40px 20px 0px 20px;
    float: none;
    font-family: Novecentowide, sans-serif;
    color: #000;
}

.p-v:after{
    content: "";
    clear: both;
}


.venues{
    font-family: Roboto, sans-serif;
    overflow: hidden;
    list-style-type: none;
}

.badges {
    list-style-type: none;
}

.badges li {
    max-width: 49%;
    height: auto;
    width: auto\9;
    display: inline-block;
    padding-right: 35px;
}

.badges img {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-width: 250px;
}

.badge-img {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-width: 250px;
}

.dis-none {
    display: none;
}